html {
    font-size: 10px;
    font-family: 'Quicksand', sans-serif;
    background-color: ghostwhite;
}

body {
    width: 900px;
    margin: 0 auto;
    background-color: lightseagreen;
    padding: 0 20px 20px 20px;
    border: 15px solid orange;
}


h1 {
    font-size: 60px;
    text-align: center;
    margin:  0;
    padding: 20px 0;
    color: ghostwhite;
    text-shadow: 3px 3px 1px dimgray;
}

h2 {
    text-align: center;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: .5px;
}

img {
    display: block;
    margin: 0 auto;
    width: 69%;
    border-radius: 24%
}